<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.franck.candycrush_like">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_more_horiz_black_24dp"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Game_Activity"
            android:screenOrientation="landscape"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_game"
            android:theme="@style/FullscreenTheme"
            android:parentActivityName="com.example.franck.candycrush_like.Start_Activity" >
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.franck.candycrush_like.Start_Activity" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Rules_Activity"
            android:label="@string/title_activity_rules_"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName="com.example.franck.candycrush_like.MainActivity" >
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.franck.candycrush_like.MainActivity" />
        </activity>
        <activity
            android:name=".Start_Activity"
            android:label="@string/title_activity_start_"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName="com.example.franck.candycrush_like.MainActivity" >
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.franck.candycrush_like.MainActivity" />
        </activity>
    </application>

</manifest>